SPACE_NOTIF=
GRC_NOTIF=
TIME_SCHEDULE_NOTIF=5
MODE=main

NINJA_API_BASE_URL="https://api.api-ninjas.com/v1"
NINJA_API_KEY="OVqkKCYlNsx0+Pkd8MaISg==Fbm0WMIv7JPOOonS"
NINJA_API_QUOTES_URL="/quotes"
NINJA_API_JOKES_URL="/jokes"
NINJA_API_RIDDLE_URL="/riddles"
NINJA_API_TRIVIA_URL="/trivia"
NINJA_API_ADVICE_URL="/advice"
NINJA_API_FACT_URL="/facts"

KY_ATTENDANCE_URL="https://kerjayuk.pcsindonesia.com"